<div class="row">
  <div class="col-md-9">
    <h1 class="title"><%= t('page.editing', model: t('activerecord.models.event')) -%></h1>
    <%= render 'form' %>
    <%= render 'all_day' %>
  </div>

  <div class="col">
    <div class="card card-body">
      <ul>
        <li><%= link_to t('page.show'), @event -%></li>
        <li><%= link_to t('page.back'), events_path(page: flash[:page] ||= nil) -%></li>
      </ul>
    </div>
  </div>
</div>
